*{
	box-sizing: border-box;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	background-color: steelblue;
}
.empty{
	height: 200px;
	width: 200px;
	margin: 10px;
	border: solid 3px #000;
	background-color: #fff;
}

.fill{
	background-image: url('../logo.png');
	height: 195px;
	width: 195px;
	cursor: pointer;
}

.hold{
	border: solid 5px #ccc;
}

.hover{
	background-color: #333;
	border-color: #fff;
	border-style: dashed;
	
}

@media (max-width: 800px){
	body{
		flex-direction: column;
	}
}